In [1]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

In [2]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type in ("table", "view")

Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

In [3]:
%%sql
SELECT *
FROM album
LIMIT 5

Done.

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3)]

In [4]:
%%sql
SELECT *
FROM customer
LIMIT 5

Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)]

Query that returns each genre, with the number of tracks sold in the USA:
1. in absolute numbers
2. in percentages

In [5]:
%%sql

WITH inv_usa AS
(
    SELECT
        i.invoice_id,
        il.track_id,
        il.unit_price,
        il.quantity,
        g.name AS genre,
        i.total
    FROM invoice i
    JOIN invoice_line il
        ON i.invoice_id = il.invoice_id
    LEFT JOIN track t
        ON t.track_id = il.track_id
    LEFT JOIN genre g
        ON t.genre_id = g.genre_id
    WHERE billing_country = 'USA'
),
usa_total AS
(
    SELECT SUM(quantity) AS usa_sales
    FROM inv_usa
),
usa_genre AS
(
    SELECT 
        genre,
    SUM(quantity) AS qtt_genre
    FROM inv_usa
    GROUP BY genre
)
SELECT
    genre,
    qtt_genre,
    (qtt_genre * 100) / (SELECT usa_sales FROM usa_total)
FROM usa_genre
ORDER BY 2 DESC

Done.

[('Rock', 561, 53),
 ('Alternative & Punk', 130, 12),
 ('Metal', 124, 11),
 ('R&B/Soul', 53, 5),
 ('Blues', 36, 3),
 ('Alternative', 35, 3),
 ('Latin', 22, 2),
 ('Pop', 22, 2),
 ('Hip Hop/Rap', 20, 1),
 ('Jazz', 14, 1),
 ('Easy Listening', 13, 1),
 ('Reggae', 6, 0),
 ('Electronica/Dance', 5, 0),
 ('Classical', 4, 0),
 ('Heavy Metal', 3, 0),
 ('Soundtrack', 2, 0),
 ('TV Shows', 1, 0)]

In terms of genre most sold in the US compared the genres offered by the record label, the order goes
Punk (12%) > Blues (3%) > Pop (2%) > Hip-Hop (1%)

Given this, we'd recommend Red Tone, Slim Jim Bites, and Meteor and the Girls 

Next we'll find the total dollar amount of sales assigned to each sales support agent within the company. We'll also add any relevant attributes for that employee.

In [6]:
%%sql

SELECT
    e.employee_id,
    e.first_name || ' ' || e.last_name AS emp_name,
    e.hire_date,
    e.city,
    e.state,
    e.country,
    SUM(i.total) AS total_sales
FROM invoice i
JOIN customer c on i.customer_id = c.customer_id
JOIN employee e on c.support_rep_id = e.employee_id
GROUP BY 
    e.employee_id,
    e.hire_date,
    e.city,
    e.state,
    e.country
ORDER BY SUM(i.total) DESC

Done.

[(3, 'Jane Peacock', '2017-04-01 00:00:00', 'Calgary', 'AB', 'Canada', 1731.5100000000039),
 (4, 'Margaret Park', '2017-05-03 00:00:00', 'Calgary', 'AB', 'Canada', 1584.0000000000034),
 (5, 'Steve Johnson', '2017-10-17 00:00:00', 'Calgary', 'AB', 'Canada', 1393.920000000002)]

Jane Peacock has the highest number of sales. This could be attributed to the fact that she joined the company before other support agents.

Next, we will analyze the sales data for customers from each different country. We'll use the country value from the customers table, and ignore the country from the billing address in the invoice table.

In particular, we need to calculate data, for each country, on the:

1. total number of customers
2. total value of sales
3. average value of sales per customer
4. average order value


Write a query that collates data on purchases from different countries.
- Where a country has only one customer, collect them into an "Other" group.
- The results should be sorted by the total sales from highest to lowest, with the "Other" group at the very bottom.
- For each country, include:
-- total number of customers
-- total value of sales
-- average value of sales per customer
-- average order value

In [7]:
%%sql

WITH ct_country AS 
(
    SELECT
        c.country, 
        COUNT(distinct c.customer_id) AS ct_cus,
        SUM(i.total) AS tot_sales,
        COUNT(i.invoice_id) AS tot_orders
    FROM customer c
    JOIN invoice i ON c.customer_id = i.customer_id
    GROUP BY country
),
sorted_ct AS
(
    SELECT 
        CASE
            WHEN ct_cus = 1 THEN 'Other'
            ELSE country
        END AS country,
        CASE
            WHEN ct_cus = 1 THEN 1
            ELSE 0
        END AS sort,
        ct_cus,
        tot_sales,
        tot_orders
    FROM ct_country
)
SELECT
    country,
    SUM(ct_cus) AS total_customers,
    ROUND(SUM(tot_sales), 2) AS total_value_sales,
    ROUND(SUM(tot_sales) / SUM(ct_cus), 2) AS avg_sale_cust,
    ROUND(SUM(tot_sales) / SUM(tot_orders), 2) AS avg_order_val
FROM sorted_ct
GROUP BY country
ORDER BY sort ASC, ct_cus DESC

Done.

[('USA', 13, 1040.49, 80.04, 7.94),
 ('Canada', 8, 535.59, 66.95, 7.05),
 ('Brazil', 5, 427.68, 85.54, 7.01),
 ('France', 5, 389.07, 77.81, 7.78),
 ('Germany', 4, 334.62, 83.66, 8.16),
 ('United Kingdom', 3, 245.52, 81.84, 8.77),
 ('Czech Republic', 2, 273.24, 136.62, 9.11),
 ('India', 2, 183.15, 91.57, 8.72),
 ('Portugal', 2, 185.13, 92.57, 6.38),
 ('Other', 15, 1094.94, 73.0, 7.45)]

Next, we will review the data to strategize purchasing by Chinook. We'll categorize each invoice as either an album purchase or not, and calculate the following summary statistics:
- Number of invoices
- Percentage of invoices

In [16]:
%%sql 

WITH select_track AS
(
    SELECT
        il.invoice_id invoice_id,
        MIN(il.track_id) first_track_id
    FROM invoice_line il
    GROUP BY 1
)
SELECT 
    album_purchase, 
    COUNT(invoice_id),
    COUNT(invo)
    FROM (
        SELECT
            st.*,
            CASE
                WHEN
                     (
                      SELECT t.track_id FROM track t
                      WHERE t.album_id = (
                                          SELECT t2.album_id FROM track t2
                                          WHERE t2.track_id = st.first_track_id
                                         ) 

                      EXCEPT 

                      SELECT il2.track_id FROM invoice_line il2
                      WHERE il2.invoice_id = st.invoice_id
                     ) IS NULL
                 AND
                     (
                      SELECT il2.track_id FROM invoice_line il2
                      WHERE il2.invoice_id = st.invoice_id

                      EXCEPT 

                      SELECT t.track_id FROM track t
                      WHERE t.album_id = (
                                          SELECT t2.album_id FROM track t2
                                          WHERE t2.track_id = st.first_track_id
                                         ) 
                     ) IS NULL
                 THEN "yes"
                 ELSE "no"
             END AS "album_purchase"
         FROM select_track st
    ) 
    GROUP BY album_purchase

Done.

[(1, 1158, 'yes'),
 (2, 201, 'no'),
 (3, 2516, 'no'),
 (4, 748, 'no'),
 (5, 1986, 'yes'),
 (6, 30, 'no'),
 (7, 42, 'no'),
 (8, 81, 'no'),
 (9, 196, 'no'),
 (10, 2663, 'no'),
 (11, 610, 'no'),
 (12, 92, 'no'),
 (13, 2553, 'no'),
 (14, 541, 'no'),
 (15, 807, 'no'),
 (16, 16, 'no'),
 (17, 55, 'no'),
 (18, 1027, 'no'),
 (19, 105, 'no'),
 (20, 60, 'no'),
 (21, 13, 'no'),
 (22, 383, 'no'),
 (23, 1, 'yes'),
 (24, 1146, 'yes'),
 (25, 32, 'no'),
 (26, 85, 'no'),
 (27, 1280, 'no'),
 (28, 36, 'no'),
 (29, 479, 'no'),
 (30, 33, 'no'),
 (31, 2731, 'yes'),
 (32, 38, 'yes'),
 (33, 2542, 'no'),
 (34, 610, 'no'),
 (35, 6, 'no'),
 (36, 153, 'no'),
 (37, 698, 'no'),
 (38, 154, 'no'),
 (39, 184, 'no'),
 (40, 108, 'no'),
 (41, 153, 'no'),
 (42, 13, 'no'),
 (43, 918, 'no'),
 (44, 3052, 'yes'),
 (45, 102, 'no'),
 (46, 2639, 'yes'),
 (47, 8, 'no'),
 (48, 58, 'no'),
 (49, 146, 'no'),
 (50, 1511, 'no'),
 (51, 34, 'no'),
 (52, 2664, 'yes'),
 (53, 207, 'no'),
 (54, 1773, 'yes'),
 (55, 155, 'no'),
 (56, 2254, 'yes'),
 (57, 2948, 'no'),
 (58, 1029, 'no'),
 (59, 198, 'no'),
 (60, 46, 'no'),
 (61, 2609, 'yes'),
 (62, 97, 'no'),
 (63, 6, 'no'),
 (64, 38, 'yes'),
 (65, 539, 'no'),
 (66, 442, 'no'),
 (67, 9, 'no'),
 (68, 61, 'no'),
 (69, 85, 'yes'),
 (70, 2307, 'no'),
 (71, 2254, 'yes'),
 (72, 30, 'no'),
 (73, 2391, 'yes'),
 (74, 1743, 'no'),
 (75, 22, 'no'),
 (76, 1020, 'yes'),
 (77, 15, 'no'),
 (78, 33, 'no'),
 (79, 1902, 'yes'),
 (80, 3400, 'no'),
 (81, 545, 'no'),
 (82, 54, 'no'),
 (83, 1163, 'no'),
 (84, 3455, 'yes'),
 (85, 1298, 'no'),
 (86, 2291, 'no'),
 (87, 1129, 'no'),
 (88, 1995, 'no'),
 (89, 1784, 'no'),
 (90, 2554, 'yes'),
 (91, 94, 'no'),
 (92, 1414, 'yes'),
 (93, 20, 'no'),
 (94, 50, 'no'),
 (95, 27, 'no'),
 (96, 453, 'no'),
 (97, 16, 'no'),
 (98, 419, 'no'),
 (99, 2591, 'yes'),
 (100, 996, 'no'),
 (101, 83, 'no'),
 (102, 33, 'no'),
 (103, 1029, 'no'),
 (104, 1508, 'no'),
 (105, 751, 'no'),
 (106, 2, 'no'),
 (107, 1, 'no'),
 (108, 58, 'no'),
 (109, 340, 'no'),
 (110, 81, 'no'),
 (111, 48, 'no'),
 (112, 1479, 'yes'),
 (113, 134, 'no'),
 (114, 1479, 'yes'),
 (115, 84, 'no'),
 (116, 21, 'no'),
 (117, 4, 'no'),
 (118, 3111, 'no'),
 (119, 1556, 'no'),
 (120, 17, 'no'),
 (121, 32, 'no'),
 (122, 28, 'no'),
 (123, 2003, 'yes'),
 (124, 470, 'no'),
 (125, 45, 'no'),
 (126, 42, 'no'),
 (127, 2, 'no'),
 (128, 836, 'no'),
 (129, 12, 'no'),
 (130, 1573, 'no'),
 (131, 920, 'no'),
 (132, 2234, 'no'),
 (133, 37, 'no'),
 (134, 204, 'no'),
 (135, 1221, 'no'),
 (136, 1157, 'no'),
 (137, 43, 'no'),
 (138, 2271, 'yes'),
 (139, 781, 'no'),
 (140, 468, 'no'),
 (141, 2621, 'yes'),
 (142, 23, 'yes'),
 (143, 479, 'no'),
 (144, 158, 'no'),
 (145, 1422, 'no'),
 (146, 1466, 'yes'),
 (147, 56, 'no'),
 (148, 24, 'no'),
 (149, 28, 'no'),
 (150, 1021, 'no'),
 (151, 605, 'no'),
 (152, 1030, 'no'),
 (153, 2406, 'yes'),
 (154, 2649, 'no'),
 (155, 94, 'no'),
 (156, 1882, 'yes'),
 (157, 3336, 'yes'),
 (158, 1050, 'no'),
 (159, 153, 'no'),
 (160, 36, 'no'),
 (161, 55, 'no'),
 (162, 899, 'no'),
 (163, 768, 'no'),
 (164, 913, 'no'),
 (165, 59, 'no'),
 (166, 56, 'no'),
 (167, 484, 'no'),
 (168, 58, 'no'),
 (169, 18, 'no'),
 (170, 157, 'no'),
 (171, 1466, 'yes'),
 (172, 1185, 'no'),
 (173, 2285, 'yes'),
 (174, 422, 'no'),
 (175, 1755, 'yes'),
 (176, 1114, 'no'),
 (177, 1039, 'no'),
 (178, 1102, 'yes'),
 (179, 39, 'no'),
 (180, 1150, 'no'),
 (181, 1470, 'no'),
 (182, 86, 'no'),
 (183, 1033, 'yes'),
 (184, 3409, 'yes'),
 (185, 991, 'no'),
 (186, 826, 'no'),
 (187, 1037, 'no'),
 (188, 1455, 'yes'),
 (189, 2191, 'no'),
 (190, 833, 'no'),
 (191, 24, 'no'),
 (192, 130, 'no'),
 (193, 2548, 'no'),
 (194, 1476, 'no'),
 (195, 51, 'no'),
 (196, 1325, 'yes'),
 (197, 592, 'no'),
 (198, 1121, 'no'),
 (199, 2008, 'no'),
 (200, 15, 'yes'),
 (201, 3288, 'yes'),
 (202, 1747, 'no'),
 (203, 6, 'no'),
 (204, 14, 'no'),
 (205, 1829, 'yes'),
 (206, 224, 'no'),
 (207, 470, 'no'),
 (208, 151, 'no'),
 (209, 1495, 'no'),
 (210, 18, 'no'),
 (211, 39, 'no'),
 (212, 1121, 'yes'),
 (213, 2271, 'yes'),
 (214, 80, 'no'),
 (215, 1019, 'no'),
 (216, 461, 'no'),
 (217, 2554, 'no'),
 (218, 894, 'no'),
 (219, 897, 'no'),
 (220, 1745, 'no'),
 (221, 19, 'no'),
 (222, 1029, 'no'),
 (223, 2621, 'yes'),
 (224, 20, 'no'),
 (225, 32, 'no'),
 (226, 1132, 'no'),
 (227, 468, 'no'),
 (228, 531, 'no'),
 (229, 58, 'no'),
 (230, 15, 'yes'),
 (231, 154, 'no'),
 (232, 6, 'no'),
 (233, 9, 'no'),
 (234, 2562, 'no'),
 (235, 1129, 'no'),
 (236, 164, 'no'),
 (237, 2375, 'yes'),
 (238, 2271, 'no'),
 (239, 2254, 'no'),
 (240, 1774, 'no'),
 (241, 2289, 'no'),
 (242, 61, 'no'),
 (243, 54, 'no'),
 (244, 1026, 'no'),
 (245, 1015, 'no'),
 (246, 55, 'no'),
 (247, 2639, 'yes'),
 (248, 152, 'no'),
 (249, 1470, 'no'),
 (250, 435, 'no'),
 (251, 30, 'no'),
 (252, 1, 'no'),
 (253, 1121, 'yes'),
 (254, 183, 'no'),
 (255, 529, 'no'),
 (256, 1491, 'no'),
 (257, 2285, 'yes'),
 (258, 1990, 'no'),
 (259, 29, 'no'),
 (260, 77, 'no'),
 (261, 58, 'no'),
 (262, 77, 'yes'),
 (263, 62, 'no'),
 (264, 1187, 'no'),
 (265, 109, 'no'),
 (266, 1170, 'no'),
 (267, 1997, 'no'),
 (268, 13, 'no'),
 (269, 3144, 'no'),
 (270, 23, 'no'),
 (271, 2271, 'yes'),
 (272, 61, 'no'),
 (273, 1479, 'yes'),
 (274, 402, 'no'),
 (275, 268, 'no'),
 (276, 3300, 'yes'),
 (277, 128, 'no'),
 (278, 1468, 'no'),
 (279, 1184, 'no'),
 (280, 3081, 'yes'),
 (281, 1902, 'yes'),
 (282, 891, 'no'),
 (283, 95, 'no'),
 (284, 194, 'yes'),
 (285, 134, 'no'),
 (286, 1748, 'no'),
 (287, 2004, 'no'),
 (288, 2, 'no'),
 (289, 16, 'no'),
 (290, 438, 'no'),
 (291, 165, 'no'),
 (292, 162, 'no'),
 (293, 802, 'no'),
 (294, 18, 'no'),
 (295, 1491, 'no'),
 (296, 1466, 'yes'),
 (297, 2207, 'no'),
 (298, 34, 'no'),
 (299, 1042, 'no'),
 (300, 51, 'yes'),
 (301, 5, 'no'),
 (302, 77, 'no'),
 (303, 43, 'no'),
 (304, 11, 'no'),
 (305, 2178, 'yes'),
 (306, 49, 'no'),
 (307, 38, 'no'),
 (308, 2964, 'yes'),
 (309, 1094, 'no'),
 (310, 29, 'no'),
 (311, 32, 'no'),
 (312, 58, 'no'),
 (313, 1454, 'no'),
 (314, 31, 'no'),
 (315, 1445, 'no'),
 (316, 1050, 'no'),
 (317, 3288, 'yes'),
 (318, 26, 'no'),
 (319, 62, 'no'),
 (320, 3319, 'yes'),
 (321, 2607, 'no'),
 (322, 13, 'no'),
 (323, 1125, 'no'),
 (324, 31, 'no'),
 (325, 1943, 'no'),
 (326, 135, 'no'),
 (327, 6, 'no'),
 (328, 481, 'no'),
 (329, 3299, 'no'),
 (330, 1133, 'yes'),
 (331, 36, 'no'),
 (332, 476, 'no'),
 (333, 1006, 'no'),
 (334, 1942, 'yes'),
 (335, 2391, 'yes'),
 (336, 2358, 'no'),
 (337, 804, 'no'),
 (338, 1523, 'no'),
 (339, 696, 'no'),
 (340, 1051, 'no'),
 (341, 1520, 'yes'),
 (342, 1679, 'no'),
 (343, 161, 'no'),
 (344, 1479, 'yes'),
 (345, 35, 'no'),
 (346, 151, 'no'),
 (347, 16, 'no'),
 (348, 9, 'no'),
 (349, 1712, 'no'),
 (350, 1017, 'no'),
 (351, 26, 'no'),
 (352, 2433, 'no'),
 (353, 162, 'no'),
 (354, 1387, 'no'),
 (355, 13, 'no'),
 (356, 51, 'no'),
 (357, 469, 'no'),
 (358, 93, 'no'),
 (359, 35, 'no'),
 (360, 2367, 'no'),
 (361, 1991, 'no'),
 (362, 695, 'yes'),
 (363, 433, 'no'),
 (364, 10, 'no'),
 (365, 157, 'no'),
 (366, 195, 'no'),
 (367, 154, 'no'),
 (368, 952, 'no'),
 (369, 514, 'no'),
 (370, 922, 'no'),
 (371, 2410, 'no'),
 (372, 529, 'yes'),
 (373, 139, 'no'),
 (374, 469, 'no'),
 (375, 1268, 'yes'),
 (376, 615, 'no'),
 (377, 49, 'no'),
 (378, 1056, 'no'),
 (379, 2542, 'yes'),
 (380, 475, 'no'),
 (381, 1133, 'yes'),
 (382, 43, 'no'),
 (383, 486, 'no'),
 (384, 152, 'no'),
 (385, 1, 'no'),
 (386, 45, 'no'),
 (387, 337, 'no'),
 (388, 999, 'yes'),
 (389, 3064, 'yes'),
 (390, 1988, 'no'),
 (391, 80, 'no'),
 (392, 1853, 'yes'),
 (393, 80, 'no'),
 (394, 15, 'no'),
 (395, 757, 'no'),
 (396, 822, 'no'),
 (397, 781, 'no'),
 (398, 2506, 'yes'),
 (399, 1146, 'yes'),
 (400, 40, 'no'),
 (401, 13, 'no'),
 (402, 1127, 'no'),
 (403, 52, 'no'),
 (404, 1174, 'yes'),
 (405, 542, 'no'),
 (406, 1460, 'no'),
 (407, 2204, 'no'),
 (408, 1043, 'no'),
 (409, 1021, 'no'),
 (410, 131, 'no'),
 (411, 6, 'no'),
 (412, 261, 'no'),
 (413, 2690, 'yes'),
 (414, 1, 'yes'),
 (415, 29, 'no'),
 (416, 1048, 'no'),
 (417, 4, 'no'),
 (418, 2755, 'no'),
 (419, 33, 'no'),
 (420, 999, 'yes'),
 (421, 1, 'no'),
 (422, 82, 'no'),
 (423, 7, 'no'),
 (424, 1495, 'no'),
 (425, 1483, 'no'),
 (426, 43, 'no'),
 (427, 23, 'yes'),
 (428, 1013, 'no'),
 (429, 828, 'no'),
 (430, 1788, 'no'),
 (431, 160, 'no'),
 (432, 94, 'no'),
 (433, 27, 'no'),
 (434, 27, 'no'),
 (435, 426, 'no'),
 (436, 77, 'no'),
 (437, 301, 'no'),
 (438, 151, 'no'),
 (439, 423, 'no'),
 (440, 88, 'no'),
 (441, 1079, 'no'),
 (442, 572, 'no'),
 (443, 13, 'no'),
 (444, 2229, 'yes'),
 (445, 411, 'no'),
 (446, 1, 'no'),
 (447, 2285, 'yes'),
 (448, 186, 'no'),
 (449, 1479, 'yes'),
 (450, 424, 'no'),
 (451, 3044, 'no'),
 (452, 572, 'no'),
 (453, 9, 'no'),
 (454, 1986, 'no'),
 (455, 836, 'no'),
 (456, 6, 'no'),
 (457, 1562, 'yes'),
 (458, 3473, 'no'),
 (459, 226, 'no'),
 (460, 51, 'no'),
 (461, 160, 'no'),
 (462, 6, 'no'),
 (463, 38, 'no'),
 (464, 38, 'no'),
 (465, 149, 'yes'),
 (466, 73, 'no'),
 (467, 154, 'no'),
 (468, 2149, 'yes'),
 (469, 2232, 'no'),
 (470, 94, 'no'),
 (471, 2368, 'no'),
 (472, 697, 'no'),
 (473, 2690, 'no'),
 (474, 479, 'no'),
 (475, 32, 'no'),
 (476, 12, 'no'),
 (477, 346, 'no'),
 (478, 1479, 'yes'),
 (479, 419, 'yes'),
 (480, 1033, 'no'),
 (481, 475, 'no'),
 (482, 27, 'no'),
 (483, 21, 'no'),
 (484, 1424, 'no'),
 (485, 1434, 'yes'),
 (486, 82, 'no'),
 (487, 16, 'no'),
 (488, 1902, 'yes'),
 (489, 1865, 'no'),
 (490, 794, 'no'),
 (491, 2558, 'no'),
 (492, 532, 'no'),
 (493, 536, 'no'),
 (494, 3288, 'no'),
 (495, 1019, 'no'),
 (496, 1, 'no'),
 (497, 1141, 'no'),
 (498, 1780, 'no'),
 (499, 1009, 'no'),
 (500, 46, 'no'),
 (501, 1466, 'yes'),
 (502, 158, 'no'),
 (503, 409, 'no'),
 (504, 4, 'no'),
 (505, 3424, 'yes'),
 (506, 1479, 'no'),
 (507, 82, 'no'),
 (508, 152, 'no'),
 (509, 26, 'no'),
 (510, 2285, 'no'),
 (511, 149, 'yes'),
 (512, 807, 'yes'),
 (513, 93, 'no'),
 (514, 1176, 'no'),
 (515, 2696, 'no'),
 (516, 1039, 'no'),
 (517, 36, 'no'),
 (518, 1551, 'no'),
 (519, 477, 'no'),
 (520, 16, 'no'),
 (521, 992, 'no'),
 (522, 800, 'no'),
 (523, 79, 'no'),
 (524, 444, 'no'),
 (525, 6, 'no'),
 (526, 436, 'yes'),
 (527, 36, 'no'),
 (528, 1479, 'no'),
 (529, 3375, 'yes'),
 (530, 2231, 'no'),
 (531, 2650, 'no'),
 (532, 63, 'yes'),
 (533, 2165, 'yes'),
 (534, 10, 'no'),
 (535, 1033, 'no'),
 (536, 419, 'no'),
 (537, 1853, 'yes'),
 (538, 426, 'no'),
 (539, 3284, 'no'),
 (540, 3467, 'yes'),
 (541, 48, 'no'),
 (542, 1121, 'no'),
 (543, 707, 'no'),
 (544, 421, 'no'),
 (545, 225, 'no'),
 (546, 150, 'no'),
 (547, 901, 'no'),
 (548, 4, 'no'),
 (549, 61, 'no'),
 (550, 1122, 'no'),
 (551, 1121, 'no'),
 (552, 904, 'no'),
 (553, 2102, 'no'),
 (554, 517, 'no'),
 (555, 1415, 'no'),
 (556, 2461, 'yes'),
 (557, 608, 'no'),
 (558, 103, 'no'),
 (559, 900, 'no'),
 (560, 1025, 'no'),
 (561, 739, 'no'),
 (562, 44, 'no'),
 (563, 1617, 'no'),
 (564, 1129, 'no'),
 (565, 21, 'no'),
 (566, 1788, 'no'),
 (567, 432, 'no'),
 (568, 17, 'no'),
 (569, 6, 'no'),
 (570, 1521, 'no'),
 (571, 93, 'no'),
 (572, 1134, 'no'),
 (573, 21, 'no'),
 (574, 85, 'no'),
 (575, 897, 'no'),
 (576, 9, 'no'),
 (577, 23, 'no'),
 (578, 2664, 'yes'),
 (579, 3, 'no'),
 (580, 79, 'no'),
 (581, 3375, 'yes'),
 (582, 891, 'yes'),
 (583, 3467, 'yes'),
 (584, 2962, 'no'),
 (585, 49, 'no'),
 (586, 20, 'no'),
 (587, 94, 'no'),
 (588, 18, 'no'),
 (589, 2271, 'yes'),
 (590, 1362, 'yes'),
 (591, 162, 'no'),
 (592, 465, 'no'),
 (593, 57, 'no'),
 (594, 476, 'no'),
 (595, 46, 'no'),
 (596, 12, 'no'),
 (597, 46, 'no'),
 (598, 1000, 'no'),
 (599, 19, 'no'),
 (600, 1006, 'no'),
 (601, 14, 'no'),
 (602, 164, 'no'),
 (603, 481, 'no'),
 (604, 1755, 'yes'),
 (605, 1128, 'no'),
 (606, 2003, 'yes'),
 (607, 30, 'no'),
 (608, 3060, 'no'),
 (609, 1636, 'no'),
 (610, 814, 'no'),
 (611, 57, 'no'),
 (612, 2204, 'yes'),
 (613, 1126, 'no'),
 (614, 2650, 'no')]